body {
    font-family: 'Roboto Mono', monospace;
}

.antiLogo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.antiLogo:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter:blur(2px);
}

.navbar {
    background-color: black;
}

.navbar-nav {
    margin: auto;
}

.navbar-toggler {
  color: white;
  border: solid 3px white;
  opacity: 0.8;
}

#profileNavbar {
    text-align: left;
    align-items: left;
    margin: auto;
  }

.contact {
    margin-left: 3%;
}

.about {
    margin-left: 3%;
}

.signin {
    margin-left: 3%;
}

nav li {
    position: relative;
  }

nav li::before {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
  
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  
  nav li:hover::before {
    width: 100%;
  }

.dropdown-item {
    display: none;
    color: white;
  }

.dropdown-divider {
    display: none;
}

.dropdown:hover .dropdown-item {
    display: block;
}

.dropdown:hover .dropdown-divider {
    display: block;
}

.hoodie1 {
    width: 300px;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin: 10px;
}

.box img {
    width: 100%;
    transform: all linear 0.7s;
}

img.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.box:hover img{
    opacity: 0;
}

.box:hover img.hover-img {
    opacity: 1; 
}


.firstRow {
    margin: auto;
    margin-top: 10%;
    margin-left: 20%;
}

.desc {
    font-size: medium;
    text-align: center;
    /* margin-top: 5%; */
}

.price {
    font-size: small;
    text-align: center;
}

.about {
    width: 750px;
    margin-top: 5%;
}

.modal-title {
    margin-left: 4%;
    color: white;
}

.modal-header {
    background-color: rgb(86, 86, 86);
}

.aboutHeader {
    width: 815px;
}

.btnbtn {
    border: dotted 1px rgb(86, 86, 86);
}

.btnbtn:hover {
    background-color: aquamarine;
    border: dotted 1px blue;
    color: blue;
}

.rememberMe:hover {
    color: blue;
}

.form-control {
    border: dotted 1px rgb(86, 86, 86);
}

.form-control:hover {
    border: dotted 1px blue;
}

.close {
    color: white;
}

.close:hover {
    color: red;
}

.aboutText {
    width: 815px;
    margin-left: 15%;
}

.aboutTextt {
    width: 650px;
    margin-left: 10%;
    margin-bottom: 10%;
}

.aboutTexttt {
    margin-bottom: 20px;
}

.aboutHeaderr {
    color: red;
}

.modal {
    opacity: 90%;
    margin-top: 10%;
}

#aboutModal {
    margin: auto;
    left: -250px;
}

.icons4 {
    width: 50px;
    margin-left: 1%;
}

.icons4:hover {
    filter: brightness(70%)
}

.socials {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

@media (max-width: 700px) {
    .about {
        display: none;
    }
    #aboutModal {
        margin-left: 210px;
        margin-top: 10%;
    }

    .aboutTextt {
        width: 300px;
    }

    .aboutHeader {
        width: 425px;
    }
}