body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro {
    display: flex;
    color: white;
    height: 100vv;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("images/theboys.png");
    background-size: cover;
}

.myName {
    margin-top: 10%;
    margin-left: 35%;
    opacity: 80%;
    position: absolute;
    width: 30%;
    
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: black;
    
}

.welcome {
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.languages {
    margin-top: 60%;
    margin-left: 20%;
}

img {
  width: 100px;  
  border-radius: 50%;
  border: none;
  
}

.textForm {
    margin-top: 70px;
}

.icons {
    margin-top: 20%;
}

.linkedin {
    margin-bottom: 50px;
}

.linkedin:hover {
    filter: brightness(70%)
}

.facebook {
    margin-bottom: 50px;
}

.facebook:hover {
    filter: brightness(70%)
}

.instagram {
    margin-bottom: 50px;
}

.instagram:hover {
    filter: brightness(70%)
}

.jibberish {
    color: transparent;
}

.btn {
    color: white;
    border: none;
    width: 200px;
    margin-top: 20px;
    box-shadow: 4px 4px black;
}